@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
}

.attribution {
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  max-width: 450px;
  box-shadow: 0px 32px 30px 0px #a5b4f36b;
  margin: 0 10px;
}

.img-container img {
  width: 100%;
}

.content {
  padding: 40px 49px;
}

.content h1 {
  font-size: 1.75rem;
  font-weight: 900;
}

.content h1,
.content p {
  text-align: center;
}

.content h1,
.content b {
  color: hsl(223, 47%, 23%);
}

.content p,
.content span {
  color: #878a9cd1;
  margin-top: 17px;
  line-height: 1.55rem;
  font-size: 16.3px;
}

.content .icon-container {
  margin-top: 5px;
  margin-left: -2px;
}

.content .plan-container {
  background-color: #f8f9fe;
  padding: 22px 25px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.content .plan-content {
  flex-grow: 2;
  padding-left: 20px;
  line-height: 1.6rem;
}
.content .plan-content b {
  font-weight: 900;
}

.content .plan-action a {
  font-weight: 900;
  color: #5549d0;
}

.content .plan-action a:hover {
  color: hsl(245deg 83% 68%);
  text-decoration: none;
}

.content button {
  font-size: 0.95rem;
}

.content .cta {
  margin-top: 30px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  box-shadow: 0px 18px 25px rgb(56 41 224 / 25%);
}

.content .cta:hover {
  cursor: pointer;
  background-color: hsl(245deg 83% 68%);
}

.content .cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  border: 0;
  margin: 21px auto 0;
  display: block;
}

.content .cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}
